<div>
  <h2>{{ title | uppercase }} </h2>
  <h2>{{ title | lowercase }} </h2>

  <p> Date : {{ date |  date:shortDate }} </p>
  app-component s
  <button (click)="onClickCount()">Run {{count}}</button>
  <button (click)="com1.count=10; com2.count=15;">Run2 </button>
  <button (click)="onClick3();">Run3 </button>  
  <app-com1 #com1 (onReset)="onCom1Reset($event)" [count_com1]="count"></app-com1>
  <app-com2 #com2 (onReset2)="onCom2Reset($event)"[count]="count"></app-com2>
</div>

<h2>{{errorCode | errorCodePipe:"TH"}}</h2>

<img src="assets/image/D4064891-63.jpg" alt="ribbon" >